BOT_TOKEN=
WEBHOOK_SECRET=foodySecret123
WEBAPP_PUBLIC=https://web-production-5431c.up.railway.app
WEBAPP_BUYER_URL=https://web-production-5431c.up.railway.app/web/buyer/
WEBAPP_MERCHANT_URL=https://web-production-5431c.up.railway.app/web/merchant/
ADMIN_CHAT_ID=
